<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
				<!-- 
				Total number of battle ships in the simulation.  
				This covers only Fighters and Raiders, and does not include Capital Ships or RepairRigs/Healers.
				Capital Ships and RepairRigs/Healers will be 10% of the total BattleShips configured.
				The more ships, the more CPU intensive the sim becomes.
				-->
				<add key="TotalBattleShips" value="100"/>
				<!-- 
				Show the app version near the bottom left of the screen.
				-->
				<add key="ShowVersion" value="true"/>
				<!-- 
				Allows a raider to transfer half their power to their shields, when they drop below 25% shields.
				-->
				<add key="CriticalTransferRaiders" value="true"/>
				<!-- 
				Allows a ally, both Fighters and Capital ships to transfer half their power to their shields, when they drop below 25% shields.
				Since RepairRigs/Healers have 1 Power, not much to transfer, but they are included in this option, just in case, that changes in the future.
				-->
				<add key="CriticalTransferAlly" value="true"/>
				<!-- 
				Show a planet in the background.  
				This is a nice effect, but it can cause some performance issues on older machines.
				-->
				<add key="ShowPlanets" value="true"/>
				<!-- 
				Shows the animated comet flying across the screen.  
				This is a nice effect, but it can cause some performance issues on older machines.
				-->
				<add key="ShowComet" value="true"/>
				<!-- 
				Shows the 3 nebula in the background.  This is a nice effect, and is only written once, 
				generating a bitmap with stars, so it should not cause any performance issues on older machines.
				-->
				<add key="ShowNebulae" value="true"/>
				<!-- 
				Show stars in the background.  This is a nice effect, and is only written once, 
				generating a bitmap with nebulae, so it should not cause any performance issues on older machines.
				-->
				<add key="ShowStars" value="true"/>
				<!-- 
				Limited range, 50 - 400.  this is the size of the planet.  
				Any larger, will cause it to look like a giant ball, and any smaller, will make it look like a star.
				-->
				<add key="PlanetSize" value="150"/>
				<!-- 
				Limited range, 0.0 - 1.0.  this is the speed in which the planet rotates.  
				Any faster, will ramp up your CPU.
				-->
				<add key="PlanetSpinSpeed" value="0.1"/>
				<!-- 
				If ShowStars = true and NaturalStarfield = true, then display natural starfield.  
				If ShowStars = false provides a more uniform star distribution that might look more like large plus symbols.
				Rather set as true or false, if ShowStars is true, it's created one time as a cached bitmap to help lower CPU costs.
				-->
				<add key="NaturalStarfield" value="false"/>
		</appSettings>
</configuration>