<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
				<!-- 
				Show a planet in the background.  
				This is a nice effect, but it can cause some performance issues on older machines.
				-->
				<add key="ShowPlanets" value="true"/>
				<!-- 
				Shows the animated comet flying across the screen.  
				This is a nice effect, but it can cause some performance issues on older machines.
				-->
				<add key="ShowComet" value="true"/>
				<!-- 
				Shows the 3 nebula in the background.  This is a nice effect, and is only written once, 
				generating a bitmap with stars, so it should not cause any performance issues on older machines.
				-->
				<add key="ShowNebulae" value="true"/>
				<!-- 
				Show stars in the background.  This is a nice effect, and is only written once, 
				generating a bitmap with nebulae, so it should not cause any performance issues on older machines.
				-->
				<add key="ShowStars" value="true"/>
				<!-- 
				Limited range, 50 - 400.  this is the size of the planet.  
				Any larger, will cause it to look like a giant ball, and any smaller, will make it look like a star.
				-->
				<add key="PlanetSize" value="300"/>
				<!-- 
				Limited range, 0.0 - 1.0.  this is the speed in which the planet rotates.  
				Any faster, will ramp up your CPU.
				-->
				<add key="PlanetSpinSpeed" value="0.1"/>
				<!-- 
				If ShowStars = true and NaturalStarfield = true, then display natural starfield.  
				If ShowStars = false provides a more uniform star distribution that might look more like large plus symbols.
				Rather set as true or false, if ShowStars is true, it's created one time as a cached bitmap to help lower CPU costs.
				-->
				<add key="NaturalStarfield" value="false"/>
		</appSettings>
</configuration>