<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
				<add key="ShowPlanets" value="true"/>
				<add key="ShowNebulaes" value="true"/>
				<add key="ShowStars" value="true"/>
				<add key="ShowComet" value="true"/>
				<add key="PlanetSize" value="300"/>
				<add key="PlanetSpinSpeed" value="0.1"/>
		</appSettings>
</configuration>